.card{
    border: solid black;
    width: fit-content;
    height: fit-content;
    background-color: lightblue;
    padding: 15px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    width: 300px;
}

.text{
    font-style: italic;
    font-weight: bold;
}

.title{
    font-weight: bold;
    text-decoration: underline;
}
