

.notificationSuccess{
    position: absolute;
    top: 250px;
    right: 30px;
    background-color: green;
    color: white;
    font-size: x-large;
    padding: 20px;
    border: solid black 3px;
}

.notificationError{
    position: absolute;
    top: 250px;
    right: 30px;
    background-color: red;
    color: white;
    font-size: x-large;
    padding: 20px;
    border: solid black 3px;
}

.notificationInfo{
    position: absolute;
    top: 250px;
    right: 30px;
    background-color: blue;
    color: white;
    font-size: x-large;
    padding: 20px;
    border: solid black 3px;
}